# Education Outcomes Comparison Dashboard

Summarise completion, dropout, or literacy rates by gender and geography.

**Libraries:** pandas, seaborn, matplotlib

In [ ]:
# Step 1: Load education dataset

# TODO: Insert your code here

In [ ]:
# Step 2: Create group summaries

# TODO: Insert your code here

In [ ]:
# Step 3: Visualise comparisons by subgroup

# TODO: Insert your code here